.index-body {
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", Heiti, "黑体", sans-serif;
    font-size: 16px;
}

.body {
    box-shadow: 0px 1px 6px #ccc;
    width: 1000px;
    margin: 10px auto 10px auto;
    color: #41464b;
    min-height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.body p {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body .container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.body .content {
    color: #41464b;
}

.body span.emphasize-word {
    font-weight: bold;
    color: rgba(208, 43, 44, 1);
}

.body .page-header {
    margin-top: 20px;
    height: 40px;
}

.body .title {
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin: auto;
}

.body .page-header .title-header {
    margin: auto;
    width: 408px;
    height: 60px;
    background-image: url('../images/information-title.png');
    background-size: 408px 60px;
    vertical-align: middle;
}

.body .about {
    border-top: 1px solid #e5e5e5;
    margin: 60px auto 0px auto;
}

.body .about .title-about {
    margin: 40px auto 15px auto;
    width: 272px;
    height: 40px;
    background-image: url('../images/about-qingmooc.png');
    background-size: 272px 40px;
    vertical-align: middle;
}

.body .feature {
    margin: 40px auto 0px auto;
    border-top: 1px solid #e5e5e5;
}

.body .feature .title-feature {
    background-image: url('../images/feature-title.png');
    width: 419px;
    height: 40px;
    background-size: 419px 40px;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 15px;
}

.feature .content-feature ol {
    list-style-type: none;
}

.body .price {
    /* margin: 40px auto 0px auto; */
    /* border-top: 1px solid #e5e5e5; */
}

.body .price .title-price {
    background-image: url('../images/price-title.png');
    width: 419px;
    height: 40px;
    background-size: 419px 40px;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 15px;
}

.body .table {
    /* width: 680px; */
    width: 100%;
    table-layout: fixed;
    border:  #000;
   
}
.price-table .tr-price {
    color: rgba(208, 43, 44, 1);
    font-weight: bold;
    font-style:italic;
}

.table thead {
    font-size: 20px;
    background-color: #ccc;
}

.price-table-container {
    display: flex;
    margin: auto;
}

.price ul.remarks {
    /* padding: 0 30px; */
    padding:0px 32px;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 50px;
}

.price .remarks li {
    margin: 20px auto;
}

.function-table {
    margin: auto;
}

thead th {
    color: rgba(32, 92, 83, 1);
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    /* border-bottom: solid 1px #e5e5e5; */
}

tbody td {
    text-align: center;
    height: 40px;
    /* line-height: 40px; */
    /* border-bottom: solid 1px #e5e5e5; */
}

.function-table tbody td.wrong {}

.body .product {
    margin: 40px auto 0px auto;
    border-top: 1px solid #e5e5e5;
}

.product .product-title {
    background-image: url('../images/product-title.png');
    background-repeat: no-repeat;
    background-size: 425px 40px;
    width: 425px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.product .product-table {
    margin: auto;
}

.product .interface {
    margin: auto;
}

.product .interface-row {
    font-size: 0;
    width: 800px;
    margin: auto;
}

.product .interface-cell {
    display: inline-block;
    vertical-align: middle;
    margin-top: 70px;
}

.product .interface-cell .interface-image {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    width: 560px;
    height: 316px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.08);
}

.product .interface-cell:nth-child(2) .interface-text {
    padding-left: 40px;
    width: 170px;
    text-align: right;
    box-sizing: border-box;
}

.product .interface-cell .interface-text .interface-subtitle {
    font-size: 16px;
    font-weight: bold;
    width: 170px;
}

.product .interface-cell:nth-child(1) .interface-text {
    padding-right: 40px;
    width: 170px;
    text-align: left;
    box-sizing: border-box;
}

.product .core-function-table {
    margin: auto;
}

.body .contact {
    margin: 40px auto 0px auto;
    border-top: 1px solid #e5e5e5;
}

.contact .contact-title {
    background-image: url('../images/contact-title.png');
    background-size: 135px 40px;
    height: 40px;
    width: 135px;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 15px;
}

.contact .contact-information {
    text-align: center;
    letter-spacing: 1.8px;
    height: 24px;
    line-height: 24px;
    margin-top: 33px;
    font-size: 20px;
}

.contact .contact-information .blue {
    color: #6da0e3;
}

.contact .contact-information a:link {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.home-container {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.home-link {
    display: block;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFF;
    cursor: pointer;
}

.home-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/icon.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}